@model MvcApplication3.Models.User

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LogIn</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login Failed, check details");
    <div>
        <fieldset>
            <legend>Login Form</legend>
            <div class="editor-label">@Html.LabelFor(u => u.EMail)</div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.EMail)
            @Html.ValidationMessageFor(u => u.EMail)
        </div>
        <div class="editor-label">@Html.LabelFor(u => u.PhoneNo)</div>
        <div class="editor-field">
            @Html.PasswordFor(u => u.PhoneNo)
        @Html.ValidationMessageFor(u => u.PhoneNo)
    </div>
           
    <input type="submit" value="Log In" />
</fieldset>
</div>
}
